{#
/**
 * @file
 * paragraph--body-with-pull-quote.html.twig
 */
#}
<div class="field-body">
  {{ content.field_body }}
</div>
{% if content.field_pull_quote_ref %}
<blockquote class="field-pull-quote col-sm-4 pull-{{ pull_quote_position }}">
  <div class="">{{ content.field_pull_quote_ref }}</div>
</blockquote>
{% endif %}